*{
	margin:0;
	padding:0;
	font-family:Georgia,"Times New Roman", Times, serif;
}
body{
	background-size:cover;
	background-attachment:fixed;
	color:black;
	background-color:black;
}
.container{
	text-align:left;
	width:100%;
	margin:auto;
	margin-top:10px;
	color:rgba(255,255,255,0.825);
	font-size:medium;
	font-style:oblique;
	font-family:'Gill Sans','Gill Sans MT', Calibri, "Trebuchet MS", sans-serif;
}
#head{
	text-align:center;
	font-size:1.8em;
}
#subhead{
	text-align:center;
	font-size:18px;
	margin-top:10px;
}
#content{
	width:90%;
	margin:auto;
}
form{
	background-color:rgba(200,50,5,0.2);
	padding-top:34px;
	display:flex;
	align-items:center;
	justify-content:center;
	width:50%;
	border-radius:30px;
	margin:auto;
	margin-top:50px;
	padding-bottom:100px;
}
form .box{
	width:600px;
	height:50px;
	position:center;
	bottom:1px;
	border:0;
	border-radius:5px;
	margin-top:5px;
}
#area{
	width:600px;
	height:100px;
	position:relative;
	bottom:17px;
}
button{
	width:80px;
	height:50px;
	margin-left:10px;
	position:relative;
	top:18px;
	background-color:rgb(18,219,78);
	color:rgb(0,8,1);
}